body {
	background: url(../images/background.png);
	background-size: cover;
	font-family: 'Questrial', sans-serif;
	color: black;	
}

.logo-image {
	max-width: 100%;
	height: auto;
}

.panel {
	border: none;
	box-shadow: none;
	background: none;
	background-color: none;
	font-size: 18px;
	margin-top: 20px;
}

.panel-heading {
	text-align: center;
}

.pokemon-image {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

.footer{
    margin-top: 35px;
	padding-left: 30px;
	font-size: 16px;
}
